.home {
    .total-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .total {
            font-size: 20px;
            font-weight: 600;

            .val {
                color: brown;
                font-weight: bold;
            }
        }
    }
}